# Every file in this repository is owned by the original author and
# copyright holder. Any change to any file requires @haydary1986's review.
# See LICENSE for the full proprietary terms.

* @haydary1986
